div.home-grid {
  margin-top: 1rem;
  /* padding-top: 100px; */
  display: flex;
}


div.home-header-1 {
  margin-bottom: 2%;
  text-align: center;

}

div.outer-content {
  background: linear-gradient(to top, rgb(173, 243, 248) 5%,rgb(154, 222, 241) 40%, rgb(80, 173, 231) 98%);
  width: 100%; 
  height: 580px;
  padding-top: 40px;
}

img {
  float: left;
}


div.inner-content-right {
  width: 40%; 
  float: right; 
  justify-content: center;
  text-align: left;
  padding-top: 65px;
  padding-right: 180px;
}