
.searchbar {
  height: 120px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}


.searchbar .bar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.searchbar .bar .search-box .dropdown-menu .select-destination:hover {
  color: #de78a9;
  cursor: pointer;
}

.searchbar .bar .search-type {
  min-width: 210px;
  padding-left: 10px;
  -ms-grid-column: 3;
  grid-column: 3;
}

.searchbar .bar .search-type .search-type-1 {
  min-width: 150px;
  height: 70px;
}

.searchbar .bar .search-points {
  -ms-grid-column: 4;
  grid-column: 4;
  min-width: 210px;
  padding-left: 10px;
}

.searchbar .bar .search-points .search-points-1 {
  min-width: 150px;
  height: 70px;
}

.searchbar .bar .search-deadline {
  -ms-grid-column: 5;
  grid-column: 5;
  min-width: 210px;
  padding-left: 10px;
}

.searchbar .bar .search-deadline .search-deadline-1 {
  min-width: 150px;
  height: 70px;
}